go 1.22

use (
	./client/grpc
	./client/http
	./client/mucp
	./registry/consul
	./registry/etcd
	./registry/eureka
	./registry/gossip
	./registry/kubernetes
	./registry/multi
	./registry/nacos
	./registry/nats
	./server/grpc
	./transport/grpc
	./transport/http
	./transport/memory
	./transport/quic
	./wrapper/breaker/gobreaker
	./wrapper/breaker/hystrix
	./wrapper/monitoring/prometheus
	./wrapper/ratelimiter/ratelimit
	./wrapper/ratelimiter/uber
	./wrapper/select/roundrobin
	./wrapper/select/shard
	./wrapper/select/version
	./wrapper/service
	./wrapper/trace/opentelemetry
	./wrapper/trace/opentracing
)
