go 1.22.3

use (
	./auth/jwt
	./broker/grpc
	./broker/http
	./broker/kafka
	./broker/memory
	./broker/nats
	./broker/redis
	./client/grpc
	./client/http
	./client/mucp
	./config/encoder/yaml
	./config/source/nats
	./registry/consul
	./registry/etcd
	./registry/eureka
	./registry/gossip
	./registry/kubernetes
	./registry/multi
	./registry/nacos
	./registry/nats
	./server/grpc
	./server/http
	./server/mucp
	./store/cockroach
	./store/file
	./store/memory
	./store/mysql
	./store/nats-js
	./store/nats-js-kv
	./store/redis
	./transport/grpc
	./transport/http
	./transport/memory
	./transport/quic
	./wrapper/breaker/gobreaker
	./wrapper/breaker/hystrix
	./wrapper/monitoring/prometheus
	./wrapper/ratelimiter/ratelimit
	./wrapper/ratelimiter/uber
	./wrapper/select/roundrobin
	./wrapper/select/shard
	./wrapper/select/version
	./wrapper/service
	./wrapper/trace/opentelemetry
	./wrapper/trace/opentracing
)
